<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  </head>
  <body>
    <a class="add-note" href="#">New Note</a>
    <a class="logout" href="/auth/logout">LogOut</a>
    <div id="note-container"></div>
    <div class="stars"></div>
    <script src="bundle.js"></script>  
  </body>
</html>
