<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a class="add-note" title="添加笔记" href="#"><span class="fa fa-plus"></span> 添加</a>
    <div id="note-container"></div>
    <div class="stars"></div>
    <script src="bundle.js"></script>  
  </body>
</html>
